/* 전체 */
* {
  /*margin은 외부 여백으로 부피가 크고 작아질 수 있습니다.*/
  margin: 0;

  /*padding은 내부 여백으로 내 요소가 크고 작아질 수 있습니다.*/
  padding: 0;

  /*border-box는 width/height가 나의 총 부피이므로 구역을 정확한 사이즈로 나눌 때 편리하다.*/
  box-sizing: border-box;
}

body {
  /*background-color는 단일 색상만 가능하므로 그라데이션 효과나 이미지는 background를 사용*/
  /*linear-gradient(진행방향, 색상1, 색상2)는 선형 그라데이션 함수이다.*/
  background: linear-gradient(
    to top right,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc2a8d
  );

  /* %는 부모 요소 기준 %를 채우기 때문에, 브라우저 창의 높이의 맞춰 채우는 100vh 뷰포트를 100% 대신 사용한다 */
  height: 100vh;
}

/*div 박스*/
.wrap {
  /*absolute : 가까운 부모 요소의 위치를 기준으로 상대적인 위치를 잡음, 공간차지 안 함, 문서 흐름에서 제외 독립적 존재*/
  position: absolute;
  top: 50%;
  left: 50%;
  /*여기까지만 설정하면 요소의 왼쪽 상단이 중앙에 위치하므로 아래 코드가 필요*/
  /*transform은 요소 자기 자신을 선택해서 translate(수직값, 수평값)를 통해 수직, 수평이동을 한다*/
  transform: translate(-50%, -50%);
  /*텍스트 가로축 중앙 정렬*/
  text-align: center;
}

/*체크 아이콘*/
.material-icons {
  color: white;
  /*기본html font-size의 n배수가 rem 단위이고, px은 고정 단위이다*/
  /*뒤에 !important를 붙이면 다른 css 규칙보다 높은 우선순위를 가진다*/
  font-size: 12rem !important;
}

/*동적 텍스트*/
.lg-text {
  color: white;
  font-size: 2rem;
  /*font-weight는 텍스트 두께를 설정, nomal과 두꺼운 bold가 있다*/
  font-weight: bold;
  margin-bottom: 5px;
}

#dynamic {
  /*relative는 absolute와 달리 문서에 흐름에 따라 존재하고, 움직여도 자신의 원래 위치 공간은 그대로 유지*/
  position: relative;
  /*커서 모양이 텍스트가 줄어들면 따라가야 하므로 inline 기능도 추가*/
  display: inline-block;
  /*부모요소보다 커지는 텍스트가 자동으로 줄바꿈되지 않도록 nowrap으로 설정*/
  white-space: nowrap;
}

/* ::after는 dynamic 뒤에 생기는 가상요소이다. 실제 DOM에 추가되지 않는다*/
#dynamic::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: white;
}

/* 띄어쓰기가 없다면 id dynamic의 class active를 선택한거지만 붙어있으면 두개가 같이 있을 경우만 선택*/
#dynamic.active::after {
  display: none;
}

/*정적 텍스트*/
.sm-text {
  color: white;
  font-size: 1.5rem;
}

/* 태블릿 이하 크기일 때 스타일 */
@media (max-width: 768px) {
  .lg-text {
    font-size: 1.5rem;
  }

  .sm-text {
    font-size: 1rem;
  }

  .material-icons {
    font-size: 8rem !important;
  }

  #dynamic::after {
    max-width: 80%;
  }
}
